apiVersion: v1
kind: Service
metadata:
  name: telehealth-app
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: telehealth-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
    name: http
