apiVersion: apps/v1
kind: Deployment
metadata:
  name: telethai-master-data-api
spec:
  replicas: 3
  template:
    spec:
      containers:
      - name: telethai-master-data-api
        env:
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: master-data-api-config
              key: log.level
        - name: API_PORT
          value: "8080"
        resources:
          requests:
            memory: "1Gi"
            cpu: "1000m"
          limits:
            memory: "2Gi"
            cpu: "2000m"
