apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: telethai-master-data-api-staging
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/your-org/telehealth-gitops
    targetRevision: main
    path: apps/master-data-api/overlays/staging
  destination:
    server: https://kubernetes.default.svc
    namespace: telethai-staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  notifications:
    - type: slack
      enabled: false
