apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "telehealth.fullname" . }}
  labels:
    {{- include "telehealth.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "telehealth.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "telehealth.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        envFrom:
        - configMapRef:
            name: master-data-api-env
        env:
        - name: LOG_LEVEL
          value: "{{ .Values.config.logLevel }}"
        - name: API_PORT
          value: "{{ .Values.service.targetPort }}"
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 12 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 12 }}
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
