apiVersion: v1
kind: Service
metadata:
  name: telethai-master-data-api
  labels:
    app: telethai-master-data-api
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3000
    targetPort: http
    protocol: TCP
  selector:
    app: telethai-master-data-api
